In [39]:
import pandas as pd

paintings_colors = pd.read_csv('paintings_colors.csv')

print(paintings_colors.Object_id.nunique())
print(paintings_colors.Object_id.count())

paintings_colors.head()

2560
25600

   Unnamed: 0  Object_id      Hex     Color name  Size
0           0        466  #6b6b6b         silver   9.0
1           1        470  #686868        dimgrey  15.0
2           2        472  #aeaeae  darkslategrey  12.0
3           3        473  #151515      lightgrey  10.0
4           4        474  #828282        dimgrey  28.0

In [13]:
#Extract the "value" array into three separate columns and relabel everything

split_colors = paintings_colors["value"].str.split(",", expand = True) 
paintings_colors["Hex"] = split_colors[0].str.strip("[ '")
paintings_colors["Color name"] = split_colors[1].str.strip("' ''")
paintings_colors["Size"] = split_colors[2].str.strip("]")

paintings_colors = paintings_colors.drop(columns=["variable", "value"])
paintings_colors = paintings_colors.rename(columns = {'index':"Object_id"})

In [14]:
#head to double-check 
paintings_colors.head()

   Object_id      Hex     Color name   Size
0        466  #6b6b6b         silver    9.0
1        470  #686868        dimgrey   15.0
2        472  #aeaeae  darkslategrey   12.0
3        473  #151515      lightgrey   10.0
4        474  #828282        dimgrey   28.0

In [32]:
#REad to csv
paintings_colors.to_csv('paintings_colors.csv', index = True)

In [40]:
#We dropped about 100 paintings because their images were unretrievable. 
#So read in paintings and remove any that we don't have color data for.

paintings = pd.read_csv('Paintings_final.csv')

print("Paintings with colors:" + str(paintings_colors.Object_id.nunique()))
print("Paintings in painting table (uncleaned):" + str(paintings.Object_id.count()))

Paintings with colors:2560
Paintings in painting table (uncleaned):2560

In [34]:
#read out Object_id's from paintings_colors table into a list that we can use to filter our paintings table
paintings_to_get = paintings_colors.Object_id.to_list()

#filter paintings table
filter_paintings = paintings.Object_id.isin(paintings_to_get)
paintings_final = paintings[filter_paintings]

#print to confirm counts
print("Paintings with colors:" + str(paintings_colors.Object_id.nunique()))
print("Paintings in painting table (cleaned):" + str(paintings_final.Object_id.count()))

Paintings with colors:2560
Paintings in painting table (cleaned):2560

In [37]:
#REad to csv
paintings_final.to_csv('Paintings_final.csv', index = False)

In [44]:
#Filter artists table using the same method
artists = pd.read_csv('Artists_final.csv')

print("Artists:" + str(artists.Artist_id.nunique()))
print("Paintings table:" + str(paintings.Artist_id.nunique()))

Artists:983
Paintings table:966

In [45]:
artist_list = paintings.Artist_id.to_list()

#filter artist table
filter_in_paintings = artists.Artist_id.isin(artist_list)
artists_final = artists[filter_in_paintings]

print("Artists:" + str(artists_final.Artist_id.nunique()))
print("Paintings table:" + str(paintings.Artist_id.nunique()))

Artists:966
Paintings table:966

In [47]:
artists_final.to_csv('Artists_final.csv', index = False)